In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../data/processed/cleaned_unemployment_in_america_per_us_state.csv')

In [3]:
df.head()

,State/Area,Year,Month,Total Civilian Labor Force in State/Area,Percent (%) of State/Area's Population,Total Employment in State/Area,Percent (%) of Labor Force Employed in State/Area,Total Unemployment in State/Area,Percent (%) of Labor Force Unemployed in State/Area
0,Alabama,1976,1,1484555,57.0,1386023,53.2,98532,6.6
1,Alaska,1976,1,160183,69.0,148820,64.1,11363,7.1
2,Arizona,1976,1,964120,59.5,865871,53.4,98249,10.2
3,Arkansas,1976,1,889044,57.9,824395,53.7,64649,7.3
4,California,1976,1,9774280,62.6,8875685,56.8,898595,9.2

In [4]:
annual_data = df.groupby(['Year', 'State/Area'])[numeric_columns].mean().reset_index()

NameError: name 'numeric_columns' is not defined

In [ ]:
plt.figure(figsize=(12, 6))
plt.plot(annual_data.index, annual_data['Percent (%) of Labor Force Unemployed in State/Area'], marker='o')
plt.title('Average Unemployment Rate Over Time (1976-2022)')
plt.xlabel('Year')
plt.ylabel('Unemployment Rate (%)')
plt.grid(True)
plt.show()